= form_for(check_in_ballot) do |f|

	.form-group
		= f.label 'Nose'
		.row
			.col-xs-4
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'apple', nil
						apple
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'band-aid', nil
						band-aid
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'caramel', nil
						caramel
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'chocolate', nil
						chocolate
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'citrus', nil
						citrus
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'coffee', nil
						coffee
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'cooked vegies', nil
						cooked vegies
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'floral', nil
						floral
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'fruity', nil
						fruity
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'grassy', nil
						grassy
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'honey', nil
						honey
			.col-xs-4
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'leather', nil
						leather
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'malty', nil
						malty
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'medicine', nil
						medicine
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'nutty', nil
						nutty
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'oaky', nil
						oaky
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'perfume', nil
						perfume
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'praline', nil
						praline
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'pear', nil
						pear
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'seay', nil
						seay
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'sherry', nil
						sherry
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'smoky', nil
						smoky
			.col-xs-4
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'spicy', nil
						spicy
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'sweet', nil
						sweet
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'tar', nil
						tar
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'tobacco', nil
						tobacco
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'toffee', nil
						toffee
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'vanilla', nil
						vanilla
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'winey', nil
						winey
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'woody', nil
						woody
				.checkbox
					%label
						= f.check_box :nose_list, { :multiple => true }, 'zesty', nil
						zesty

	.form-group
		= f.label 'Taste'
		.row
			.col-xs-4
				.checkbox
					%label
						= f.check_box :taste_list, { :multiple => true }, 'caramel', nil
						caramel
				.checkbox
					%label
						= f.check_box :taste_list, { :multiple => true }, 'chocolate', nil
						chocolate
				.checkbox
					%label
						= f.check_box :taste_list, { :multiple => true }, 'citrus', nil
						citrus
				.checkbox
					%label
						= f.check_box :taste_list, { :multiple => true }, 'coffee', nil
						coffee
				.checkbox
					%label
						= f.check_box :taste_list, { :multiple => true }, 'floral', nil
						floral
				.checkbox
					%label
						= f.check_box :taste_list, { :multiple => true }, 'fruity', nil
						fruity
				.checkbox
					%label
						= f.check_box :taste_list, { :multiple => true }, 'honey', nil
						honey
				.checkbox
					%label
						= f.check_box :taste_list, { :multiple => true }, 'malty', nil
						malty
			.col-xs-4
				.checkbox
					%label
						= f.check_box :taste_list, { :multiple => true }, 'medicine', nil
						medicine
				.checkbox
					%label
						= f.check_box :taste_list, { :multiple => true }, 'nutty', nil
						nutty
				.checkbox
					%label
						= f.check_box :taste_list, { :multiple => true }, 'oaky', nil
						oaky
				.checkbox
					%label
						= f.check_box :taste_list, { :multiple => true }, 'oily', nil
						oily
				.checkbox
					%label
						= f.check_box :taste_list, { :multiple => true }, 'peaty', nil
						peaty
				.checkbox
					%label
						= f.check_box :taste_list, { :multiple => true }, 'peppery', nil
						peppery
				.checkbox
					%label
						= f.check_box :taste_list, { :multiple => true }, 'salty', nil
						salty
				.checkbox
					%label
						= f.check_box :taste_list, { :multiple => true }, 'sherry', nil
						sherry
			.col-xs-4
				.checkbox
					%label
						= f.check_box :taste_list, { :multiple => true }, 'smoky', nil
						smoky
				.checkbox
					%label
						= f.check_box :taste_list, { :multiple => true }, 'spicy', nil
						spicy
				.checkbox
					%label
						= f.check_box :taste_list, { :multiple => true }, 'sweet', nil
						sweet
				.checkbox
					%label
						= f.check_box :taste_list, { :multiple => true }, 'toffee', nil
						toffee
				.checkbox
					%label
						= f.check_box :taste_list, { :multiple => true }, 'vanilla', nil
						vanilla
				.checkbox
					%label
						= f.check_box :taste_list, { :multiple => true }, 'winey', nil
						winey
				.checkbox
					%label
						= f.check_box :taste_list, { :multiple => true }, 'woody', nil
						woody

	.form-group
		= f.label 'Finish'
		.row
			.col-xs-4
				.checkbox
					%label
						= f.radio_button :finish_list, 'short'
						short
			.col-xs-4
				.checkbox
					%label
						= f.radio_button :finish_list, 'medium'
						medium
			.col-xs-4
				.checkbox
					%label
						= f.radio_button :finish_list, 'long'
						long

	.form-group
		= f.label 'Nose Score'
		= f.text_field :nose_rating, class: 'form-control margin-bottom', placeholder:"rating 1-25"
	.form-group
		= f.label 'Taste Score'
		= f.text_field :taste_rating, class: 'form-control margin-bottom', placeholder:"rating 1-25"
	.form-group
		= f.label 'Finish Score'
		= f.text_field :finish_rating, class: 'form-control margin-bottom', placeholder:"rating 1-25"
	.form-group
		= f.label 'Balance Score'
		= f.text_field :rating, class: 'form-control margin-bottom', placeholder:"rating 1-25"
	.form-group
		= f.text_area :body, :rows => 5, class: 'form-control margin-bottom', placeholder:"What did you think?"
	.form-group.margin-bottom
		=f.label 'Upload a photo for this check-in'
		= f.file_field :check_in_photo, :class=>"full-width"
	.form-group
		= hidden_field_tag("liquor_id", @liquor.id)
	= f.submit "Save", :class=>"btn btn-primary"