= form_for(check_in_ballot) do |f|
	.form-group
		= f.label 'rating'
		= f.text_field :rating, class: 'form-control margin-bottom', placeholder:"rating 1-100"
	.form-group
		= f.text_area :body, :rows => 5, class: 'form-control margin-bottom', placeholder:"What did you think?"
	.form-group.margin-bottom
		=f.label 'Upload a photo for this check-in'
		= f.file_field :check_in_photo, :class=>"full-width"
	.form-group
		= hidden_field_tag("liquor_id", @liquor.id)
	= f.submit "Confirm", :class=>"btn btn-primary"