- if user_signed_in?
	%li= link_to 'Members', users_path
	%li= link_to 'Scotch Book', liquors_path
	%li= link_to '+ New Scotch', new_liquor_path
	- if current_user.admin
		%li= link_to 'Admin', admin_path
-else
	%li= link_to 'Login', new_user_session_path
	%li= link_to 'Sign up', new_user_registration_path


